@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --primary-color:#2E1760;
    --secundary-color:#3423A6;
    --accent1-color:#7180B9;
    --accent2-color:#DFF3E4;
    
    --heading-font: 'Josefin Sans', sans-serif;
    --paragraph-font: 'Rubik', sans-serif;

    --nav-background-color:#DFF3E4;
    --nav-link-color:#171738;
    --nav-hover-link-color:#171738;
    --nav-hover-background-color:#DFF3E4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

header img {
    width: 10%;
    height: auto;
}

header nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration:none;
    color: var(--accent1-color);
    padding: 1em;
}

nav a:hover {
    color: #2E1760;
    background-color: #7180B9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
}

a {
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: bold;
}

html, body {
    min-height: 100%;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

h1 {
    position: absolute;
    text-align: center;
    top: 150px;
    background-color: #DFF3E4;
}



.des {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    text-align: center;
    top: 200px;
    background-color: rgba(165, 151, 168, 0.8);
}

.des p{
    margin-left: 20px;
    padding: 20px;
    
}

.hero article img {
    width: 300px;
    float: right;
    padding: 0 0 0 40 px;
} 



